@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Open+Sans:wght@400;600&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', sans-serif;
}

